<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="fasterflect" version="2.1.2" targetFramework="net45" />
  <package id="FParsec" version="0.9.2.0" targetFramework="net45" />
  <package id="FSharpx.Core" version="1.7.4" targetFramework="net45" />
  <package id="FSharpx.Observable" version="1.7.4" targetFramework="net45" />
  <package id="FSharpx.TypeProviders.Math" version="1.7.4" targetFramework="net45" />
  <package id="FSharpx.TypeProviders.Regex" version="1.7.4" targetFramework="net45" />
</packages>